@charset "UTF-8";
@font-face {
    font-family: "PixelSplitter";
    src: url('PixelSplitter-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GB5WB1B";
    src: url('GB5WB1B.ttf') format('font-truetype'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GB5SX1B";
    src: url('GB5SX1B.TTF') format('font-truetype'), ;
    font-weight: normal;
    font-style: normal;
}